In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dos = pd.read_csv('/kaggle/input/car-hacking-dataset/DoS_dataset.csv')
dos.columns = ['Timestamp', 'CAN ID', 'DLC', 'DATA0', 'DATA1', 'DATA2', 'DATA3', 'DATA4', 'DATA5', 'DATA6', 'DATA7', 'Flag']
dos.head()

,Timestamp,CAN ID,DLC,DATA0,DATA1,DATA2,DATA3,DATA4,DATA5,DATA6,DATA7,Flag
0,1.478198e+09,018f,8,fe,5b,00,00,00,3c,00,00,R
1,1.478198e+09,0260,8,19,21,22,30,08,8e,6d,3a,R
2,1.478198e+09,02a0,8,64,00,9a,1d,97,02,bd,00,R
3,1.478198e+09,0329,8,40,bb,7f,14,11,20,00,14,R
4,1.478198e+09,0545,8,d8,00,00,8a,00,00,00,00,R

In [3]:
# Drop unnecessary columns
df = dos.drop(['CAN ID', "Timestamp", "DLC"], axis=1)
df.head()

  DATA0 DATA1 DATA2 DATA3 DATA4 DATA5 DATA6 DATA7 Flag
0    fe    5b    00    00    00    3c    00    00    R
1    19    21    22    30    08    8e    6d    3a    R
2    64    00    9a    1d    97    02    bd    00    R
3    40    bb    7f    14    11    20    00    14    R
4    d8    00    00    8a    00    00    00    00    R

In [4]:
# Function to convert hex to decimal
def hex_to_int(x):
    try:
        return int(str(x).strip(), 16)  # Convert hex to int
    except ValueError:
        return np.nan  # Assign NaN for invalid values

# # Convert CAN ID
# df["CAN ID"] = df["CAN ID"].apply(hex_to_int)

# Convert all DATA columns
for col in df.columns[:-1]:  # Exclude 'Flag' column
    df[col] = df[col].apply(hex_to_int)

In [5]:
df.head()

   DATA0  DATA1  DATA2  DATA3  DATA4  DATA5  DATA6  DATA7 Flag
0    254     91    0.0    0.0    0.0   60.0    0.0    0.0    R
1     25     33   34.0   48.0    8.0  142.0  109.0   58.0    R
2    100      0  154.0   29.0  151.0    2.0  189.0    0.0    R
3     64    187  127.0   20.0   17.0   32.0    0.0   20.0    R
4    216      0    0.0  138.0    0.0    0.0    0.0    0.0    R

In [6]:
df.shape

(3665770, 9)

In [7]:
df.isnull().sum()

DATA0        0
DATA1        0
DATA2    31188
DATA3    31188
DATA4    31188
DATA5    31188
DATA6    31188
DATA7    31188
Flag     31188
dtype: int64

In [8]:
df_2 = df.dropna()
df_2.shape

(3634582, 9)

In [9]:
df_2.isnull().sum()

DATA0    0
DATA1    0
DATA2    0
DATA3    0
DATA4    0
DATA5    0
DATA6    0
DATA7    0
Flag     0
dtype: int64

In [10]:
df_2.dropna()

         DATA0  DATA1  DATA2  DATA3  DATA4  DATA5  DATA6  DATA7 Flag
0          254     91    0.0    0.0    0.0   60.0    0.0    0.0    R
1           25     33   34.0   48.0    8.0  142.0  109.0   58.0    R
2          100      0  154.0   29.0  151.0    2.0  189.0    0.0    R
3           64    187  127.0   20.0   17.0   32.0    0.0   20.0    R
4          216      0    0.0  138.0    0.0    0.0    0.0    0.0    R
...        ...    ...    ...    ...    ...    ...    ...    ...  ...
3665765    254     89    0.0    0.0    0.0   65.0    0.0    0.0    R
3665766     24     33   33.0   48.0    8.0  143.0  109.0   25.0    R
3665767     36      0  154.0   29.0  151.0    2.0  189.0    0.0    R
3665768    220    183  127.0   20.0   17.0   32.0    0.0   20.0    R
3665769    216      0    0.0  139.0    0.0    0.0    0.0    0.0    R

[3634582 rows x 9 columns]

In [11]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3634582 entries, 0 to 3665769
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   DATA0   int64
 1   DATA1   int64
 2   DATA2   float64
 3   DATA3   float64
 4   DATA4   float64
 5   DATA5   float64
 6   DATA6   float64
 7   DATA7   float64
 8   Flag    object
dtypes: float64(6), int64(2), object(1)
memory usage: 277.3+ MB

In [12]:
df_3 = df_2.drop_duplicates()

In [13]:
df_3.describe()

,DATA0,DATA1,DATA2,DATA3,DATA4,DATA5,DATA6,DATA7
count,66914.000000,66914.000000,66914.000000,66914.000000,66914.000000,66914.000000,66914.000000,66914.000000
mean,55.738171,115.441537,6.742460,142.780689,67.260319,118.927429,13.220866,117.613743
std,79.637617,34.732800,26.252947,123.978114,74.966998,30.930760,23.100161,76.906502
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,14.000000,127.000000,0.000000,0.000000,19.000000,127.000000,3.000000,49.000000
50%,23.000000,128.000000,0.000000,255.000000,42.000000,127.000000,8.000000,113.000000
75%,33.000000,128.000000,0.000000,255.000000,74.000000,128.000000,12.000000,184.000000
max,255.000000,192.000000,252.000000,255.000000,255.000000,255.000000,209.000000,255.000000